*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}
:root{
    --dr: #fff;
    --wt: #2b323c;
    --sp1: rgb(43, 50, 60, .98);
    --sp2: #2b323c;
    --bx: 0 0 10px 5px rgb(0, 0, 0, 0.2);
}
.dark{
    --dr: #2b323c;
    --wt: #fff;
    --sp1: rgb(255, 255, 255, .98);
    --sp2: #f3efef;
    --bx: none;

}
body{
    font-size: 10pt;
    font-weight: 400;
    color: var(--dr);
    font-family: "poppins";
}
a{
    text-decoration: none;
}

/*BG*/

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: url(../img/bg.jpg) center;
    background-size: cover;
    z-index: -99;
}
._hdtext{
    position: absolute;
    top: 40%;
    color: #fff;
    text-align: center;
}

/*LEFT BOX*/

.box_menu{
    position: fixed;
    width: 300px;
    height: 100vh;
    transition: all .5s;
    background-color: var(--wt);
    z-index: 90;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.75);
    overflow-y: auto;
    scrollbar-width: none;
}
.box_menu::-webkit-scrollbar{
    display: none;
}
.profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 30px;
}
.profile_img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius:50%;
    overflow: hidden;
    border: 3px solid var(--dr);
}
.profile img{
    position: absolute;
    top: -15px;
    left: -9px;
    width: 300px;
}
.desciption h3{
    font-size: 25px;
    text-align: center;
}
.desciption::after{
    content: "";
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    height: 2px;
    background-color: var(--dr);
}
.desciption p{
    font-size: 15px;
    text-align: center;
}
.box_menu .menu{
    padding: 25px;
}
.box_menu li{
    list-style: none;
    display: flex;
    margin: 30px 0;
    font-size: 13pt;
    cursor: pointer;
}
.box_menu a{
    color: var(--dr);
}
.box_menu li i{
    font-size: 13pt;
    color: var(--dr);
    padding-right: 20px;
}
.follow{
    height: 270px;
    position: relative;
    text-align: center;
}
.alls{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow a{
    margin: 10px;
}
.follow img{
    width: 30px;
}

/*NAV*/

.nav{
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b323c;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    z-index: 99;
}
.menu i{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}
.logo i{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

/*HEADER*/

header{
    width: 100%;
    height: 100vh;
}
._hdtext img{
    width: 100px;
}

/*SEC_1*/

.selection{
    background-color: var(--wt);
}
.selection{
    background-color: var(--sp1);
}
.section{
    width: 100%;
    padding-bottom: 50px;
}
.section .title h3{
    padding: 50px;
    font-size: 25pt;
    text-align: center;
    cursor: default;
}
.about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about p{
    font-size: 13pt;
}
.about_text{
    width: 80%;
}
.about h3{
    font-size: 17pt;
    margin: 10px 0 20px;
}
.about_item p{
    padding: 10px 0;
}
.about_text .download{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download a{
    color: white;
    font-size: 13pt;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
}
.box_grid{
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.grid_item{
    width: 40%;
    padding: 20px 20px 50px;
    background-color: var(--sp2);
    transition: all .5s ease-in-out;
    box-shadow: var(--bx);
}
.grid_item:hover{
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.2);
}
.grid_icon i{
    font-size: 70px;
}
.grid_item h3{
    font-size: 17pt;
    margin: 10px 0 20px;
}
.grid_item p{
    font-size: 13pt;
}
.pro_grid{
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pro_item{
    width: 30%;
    padding: 20px 20px;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.pro_img img{
    width: 100%;
}
.pro_title{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    background-color: var(--dr);
}
.pro_title h3{
    color: var(--wt);
    padding: 10px;
}
.box_col{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.box_form{
    width: 40%;
    padding: 20px 0 50px;
}
.form_contact{
    text-align: center;
}
.form_contact h4{
    font-size: 15pt;
    margin-bottom: 20px;
}
.box_contact{
    width: 100%;
    height: 50px;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    overflow: hidden;
    background-color: rgba(0, 255, 30, 0.5);
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.2);
}
.box_contact:hover{
    background-color: #2ba63a;
}
.box_contact p{
    padding: 10px;
    color: #fff;
}
.box_form{
    font-size: 15px;
}
.box_form span{
    color: red;
}
.box_form input,
.box_form textarea{
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
}
textarea{
    height: 150px;
    resize: none;
}
input[type=submit]{
    font-size: 12pt;
    color: red;
    cursor: pointer;
}
.indicador{
    position: absolute;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    font-size: 15px;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b323c;
    box-shadow: -2px -2px 2px rgb(0, 0, 0, 0.2);
}
.foot_a h3, .foot_b p{
    color: #fff;
    font-size: 13pt;
}